.pyramid__popup-container__popup {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  height: 100px;
  z-index: 1;
}

.pyramid__popup-container__popup-text button {
  position: fixed;
  top: 7.5%;
  right: 26%;
}

.pyramid__popup-container__popup-text {
  width: 50%;
  min-height: 300px;
  background: var(--color-footer);
  border: 1px solid #999;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
}

.pyramid__popup-container__popup-text input[type="text"],
input[type="email"] {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.pyramid__popup-container__popup-text input[type="submit"] {
  width: 20%;
  padding: 12px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
}

.pyramid__popup-container__popup-text h3 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 54px;
  line-height: 75px;
  letter-spacing: -0.04em;
}
