.pyramid__header {
  display: flex;
}

.pyramid__header-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

  margin-right: 5rem;
}

.pyramid__header-content h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 62px;
  line-height: 75px;
  letter-spacing: -0.04em;
}

.pyramid__header-content__input form {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.pyramid__header-content p {
  font-family: var(--font-family);
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  font-style: normal;
  color: var(--color-text);
  margin-top: 1.5rem;
}

.pyramid__header-content__input {
  width: 100%;
  margin: 2rem 0 1rem;
  display: flex;
}

.pyramid__header-content__input input {
  flex: 2;
  width: 100%;
  min-height: 50px;
  background: var(--color-footer);
  font-family: var(--font-family);
  font-size: 20px;
  line-height: 27px;
  border: 2px solid var(--color-footer);
  padding: 0 1rem;
  outline: none;
  color: #fff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.pyramid__header-content__input button {
  flex: 0.6;
  width: 100%;
  min-height: 50px;
  background: #ff4820;
  font-family: var(--font-family);
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  color: #fff;
  cursor: pointer;
  outline: none;
  padding: 0 1rem;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.pyramid__header-content__people {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  margin-top: 2rem;
}

.pyramid__header-content__people img {
  width: 181.79px;
  height: 38px;
}

.pyramid__header-content__people p {
  margin: 0 0 0 1rem;
  font-family: var(--font-family);
  margin-left: 1rem;
  font-weight: 500;
  font-size: 12px;
  line-height: 38px;

  color: #fff;
  text-align: center;
}

.pyramid__header-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pyramid__header-image img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1050px) {
  .pyramid__header {
    flex-direction: column;
  }

  .pyramid__header-content {
    margin: 0 0 3rem;
  }
}

@media screen and (max-width: 650px) {
  .pyramid__header h1 {
    font-size: 48px;
    line-height: 60px;
  }

  .pyramid__header p {
    font-size: 16px;
    line-height: 24px;
  }

  .pyramid__header-content__people {
    flex-direction: column;
  }

  .pyramid__header-content__people p {
    margin: 0;
  }

  .pyramid__header-content__input input,
  .pyramid__header-content__input button {
    font-size: 16px;
    line-height: 24px;
  }
}

@media screen and (max-width: 490px) {
  .pyramid__header h1 {
    font-size: 36px;
    line-height: 48px;
  }

  .pyramid__header p {
    font-size: 14px;
    line-height: 24px;
  }

  .pyramid__header-content__input input,
  .pyramid__header-content__input button {
    font-size: 12px;
    line-height: 16px;
  }
}

.vibrate-1 {
  -webkit-animation: vibrate-1 1s linear infinite both;
  animation: vibrate-1 1s linear infinite both;
  color: white;
  position: relative;
  z-index: 0;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-8-21 12:14:48
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation vibrate-1
 * ----------------------------------------
 */
@-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

.heartbeat {
  -webkit-animation: heartbeat 3s ease-in-out 2s infinite both;
  animation: heartbeat 3s ease-in-out 2s infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-8-21 12:17:27
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
